body {
  background: rgb(248, 249, 250);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  overflow-x: hidden;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.carousel-inner {
  width: 100%;
  max-width: 100%;
}

#artistas {
  top: 25%;
  left: 30%;
  padding: 5%;
}

#artistasFila {
  position: sticky;
  transform: translateX(4.5%);
}

#artistaUno, #artistaDos, #artistaTres {

  vertical-align: top;
  text-align: center;

}

#artistaUno {
  float: left;
  width: 400px;
  height: auto;
  /*background: rgb(160, 83, 121);*/
}

#artistaDos {
  float: left;
  width: 400px;
  height: auto;
  /*background: rgb(182, 87, 87);*/
}

#artistaTres {
  float: left;
  width: 400px;
  height: auto;
  /*background: rgb(96, 126, 156);*/
}



footer {
  padding: 6%;
  background: rgb(202, 187, 187);
}