{% extends 'web/base.html' %}
{% load static %}


{% block content %}

<!--SOBRE NOSOTROS-->
<div class="row">
    <h1 style="text-align: center;">Sobre Nosotros</h1>
    <div id="sobreNosotros" class="container-fluid">
        <div id="infoAU" class="col-md-4">
            <h1> Donde Empezó:</h1>
            <p>Nuestra misión busca no solo dar a conocer nuestro arte, sino que llamar a más personas a unirse y dar un espacio abierto para la libre exposición y compra del mismo, buscando que el artista pueda vivir de sus obras.
            <hr>
            <img class="img-sobre-nosotros" src="img/imagenes galeria-sobre nosotros-faq/salita.jpg" alt="salita" width="100%">
        </div>
        <div id="infoAU" class="col-md-4">
            <img class="img-sobre-nosotros" src="img/imagenes galeria-sobre nosotros-faq/grupo gente.jpg" alt="grupo gente" width="100%">
            <hr>
            <h1 style="text-align: center;"> Grupo Cero</h1>
            <p style="text-align: center;">Un grupo creado para llevar el arte e inspirar a las nuevas generaciones a crear, sin importar su origen. Todo esto, disfrutando de una taza de café.</p>
        </div>
        <div id="infoAU" class="col-md-4">
            <h1 style="text-align: right;"> Nuestra Visión:</h1>
            <p style="text-align: justify;">Grupo Cero busca juntar artistas nuevos y traer el mundo del arte, que puede a veces resultar extraño y misterioso, a la gente común. Y ser también un centro de comercio donde el que gane, sea el artista... en vida.</p>
            <hr>
            <img class="img-sobre-nosotros" src="img/imagenes galeria-sobre nosotros-faq/tipo arte.jpg" alt="tipo arte" width="100%">
        </div>
    </div>
</div>

{% endblock %}