{% extends 'web/base.html' %}
{% load static %}


{% block content %}
<div class="container1">
    <h1 style="text-align: center;">Agregar Producto</h1>
    <br>
    <hr>
    <div style="text-align: center; padding: 3%;">
        <form action="{% url 'agregarrec' %}" method="post">
            {% csrf_token %}
            <label for=""><h3>Nombre</h3></label><br><br>
            <input type="text" name="nombre" style="border-radius: 6%;"><br><br>
            <label for=""><h3>Precio</h3></label><br><br>
            <input type="number" name="precio" style="border-radius: 6%;"><br><br>
            <label for=""><h3>Imágen</h3></label><br><br>
            <input type="file" name="imagen"><br><br>
            <button type="submit" id="new" style="background-color: rgb(128, 202, 128); border-radius: 6%; color: blanchedalmond; width: 110px; height: 50px;">Agregar</button>
        </form>
    </div>
</div>

{% endblock %}