{% extends 'web/base.html' %}
{% load static %}


{% block content %}
<div class="container1">
    <h1>Agregar Producto</h1>
    <form action="{% url 'agregarrec' %}" method="post">
        {% csrf_token %}
        <label for="">Nombre</label><br><br>
        <input type="text" name="nombre"><br><br>
        <label for="">precio</label><br><br>
        <input type="number" name="precio"><br><br>
        <label for="">imagen</label><br><br>
        <input type="file" name="imagen"><br><br>
        <button type="submit" id="new">Agregar</button>
    </form>
</div>

{% endblock %}