{% extends 'web/base.html' %}
{% load static %}


{% block content %}

<img src="{% static 'img/imagenes galeria-sobre nosotros-faq/cafe.jpg' %}" alt="Cafecito" width="100%">
        <div class="row">
            <div id="tablaPrecios" class="container-fluid">
                <h1 class="texto-cafe-menu">Cafetería</h1>
                <hr>
                <h2 class="texto-cafe-menu">Nuestra Carta</h2>
                <table class="table">
                    <thead>
                      <tr>
                        <th class="w-25" scope="col">Nombre</th>
                        <th class="w-25" scope="col">Precio</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Capuccino</td>
                        <td>$1200</td>
                      </tr>
                      <tr>
                        <td>Té</td>
                        <td>$1000</td>
                      </tr>
                      <tr>
                        <td>Café Cortado</td>
                        <td>$2500</td>
                      </tr>
                      <tr>
                        <td>Café solo</td>
                        <td>$1500</td>
                      </tr>
                      <tr>
                        <td>Cheesecake</td>
                        <td>$3000</td>
                      </tr>
                      <tr>
                        <td>Queque</td>
                        <td>$500</td>
                      </tr>
                      <tr>
                        <td>Macarons</td>
                        <td>$1000</td>
                      </tr>
                      <tr>
                        <td>Mini Dona</td>
                        <td>$300</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>

{% endblock %}