{% extends 'web/base.html' %}
{% load static %}

{% block content %}
    <h1 id="tituloGaleria">Galería</h1>
    <hr>
    <div class="row">
        <div id="contenidoGaleria" class="container-fluid">
            <div id="filaGaleria" class="contariner-fluid">
                {% for producto in productos %}
                    <div id="cuadroGaleria" class="col-md-4">
                        <img class="imagenesGaleria" src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" width="400px" height="400px">
                        <h3 class="textosGaleria">{{ producto.nombre }}</h3>
                        <p class="textosGaleria">${{ producto.precio }}</p>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#desc{{ producto.id }}">Ver Más</button>
                            <div id="desc{{ producto.id }}" class="collapse">{{ producto.descripcion }}</div>
                            <form method="post" action="{% url 'gallery' %}">
                                {% csrf_token %}
                                <input type="hidden" name="producto_id" value="{{ producto.id }}">
                                <input type="number" name="cantidad" value="1" min="1">
                                <button class="btn btn-primary" type="submit">Añadir al carrito</button>
                            </form>                            
                            
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <hr>
{% endblock %}