{% extends 'web/base.html' %}
{% load static %}

{% block content %}
    <h1 id="tituloGaleria">Galería</h1>
    <hr>
    <div class="row">
        <div id="contenidoGaleria" class="container-fluid">
            <div id="filaGaleria" class="contariner-fluid">
                {% for producto in productos %}
                    <div id="cuadroGaleria" class="col-md-4">
                        <img class="imagenesGaleria" src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" width="400px" height="400px">
                        <h3 class="textosGaleria">{{ producto.nombre }}</h3>
                        <p class="textosGaleria">${{ producto.precio }}</p>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#desc">Ver Más</button>
                            <div id="desc" class="collapse">{{ producto.descripcion }}</div>
                            <button class="btn btn-outline-secondary" type="button">Comprar</button>
                            <button class="btn btn-primary" type="button">Añadir al carrito</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <hr>
{% endblock %}