{% extends 'web/base.html' %}
{% load static %}


{% block content %}

<div class="container" style="padding: 3%;">

    <h1>Editor de Productos</h1>
    <hr>
    <br>
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Imagen</th>
                <th colspan="2" class="text-center">Selección</th>
            </tr>
        </thead>
        <tbody>
            {% for x in prod %}
            <tr>
                <td>{{x.id}}</td>
                <td>{{x.nombre}}</td>
                <td>{{x.precio}}</td>
                <td><img src="{{ x.imagen.url }}" alt="Imagen del producto" class="img-thumbnail"></td>
                <td class="text-center">
                    <a href="{% url 'actualizar' id=x.id %}" class="btn btn-primary">Actualizar</a>
                </td>
                <td class="text-center">
                    <a href="{% url 'eliminar' id=x.id %}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br>
    <div class="d-flex justify-content-center">
        <a href="{% url 'agregar' %}" class="btn btn-success">Agregar Producto</a>
    </div>

</div>


{% endblock %}